In [1]:
#Import required libraries

import pandas as pd
import numpy as np

In [2]:
#Loading dataset

data_frame = pd.read_csv("iris.data")

#Attribute Information: sepal length, sepal width, petal length, petal width in cm and class

print(data_frame)

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

In [3]:
#Adding column names to the respective columns

data_frame.columns = ["Sepal_length", "Sepal_width", "Petal_length", "Petal_width", "class"]
print(data_frame)

     Sepal_length  Sepal_width  Petal_length  Petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

In [4]:
#Choose the column on which encoding should be performed
#Get unique values from the class attribute

data_frame['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [5]:
#Import LabelEncoder

from sklearn import preprocessing

In [6]:
#Encode Labels in column class

label_encoder = preprocessing.LabelEncoder()
data_frame['class'] = label_encoder.fit_transform(data_frame['class'])

In [7]:
pd.unique(data_frame['class'].values)

array([0, 1, 2])

In [8]:
data_frame['class'].dtype

dtype('int32')

In [9]:
#Label encoding for Multiple Columns

#data_frame[['Sepal_length', 'Sepal_width']].apply(label_encoder.fit_transform)
df2 = pd.read_csv("balloon.data")
print(df2)

    YELLOW  SMALL  STRETCH  ADULT  T
0   YELLOW  SMALL  STRETCH  ADULT  T
1   YELLOW  SMALL  STRETCH  CHILD  F
2   YELLOW  SMALL      DIP  ADULT  F
3   YELLOW  SMALL      DIP  CHILD  F
4   YELLOW  LARGE  STRETCH  ADULT  T
5   YELLOW  LARGE  STRETCH  ADULT  T
6   YELLOW  LARGE  STRETCH  CHILD  F
7   YELLOW  LARGE      DIP  ADULT  F
8   YELLOW  LARGE      DIP  CHILD  F
9   PURPLE  SMALL  STRETCH  ADULT  T
10  PURPLE  SMALL  STRETCH  ADULT  T
11  PURPLE  SMALL  STRETCH  CHILD  F
12  PURPLE  SMALL      DIP  ADULT  F
13  PURPLE  SMALL      DIP  CHILD  F
14  PURPLE  LARGE  STRETCH  ADULT  T
15  PURPLE  LARGE  STRETCH  ADULT  T
16  PURPLE  LARGE  STRETCH  CHILD  F
17  PURPLE  LARGE      DIP  ADULT  F
18  PURPLE  LARGE      DIP  CHILD  F

In [10]:
#Attribute information: color, size, act, age, inflated ---All are categorical attributes
#set the column names
df2.columns = ["color", "size", "act", "age", "inflated"]
df2

     color   size      act    age inflated
0   YELLOW  SMALL  STRETCH  ADULT        T
1   YELLOW  SMALL  STRETCH  CHILD        F
2   YELLOW  SMALL      DIP  ADULT        F
3   YELLOW  SMALL      DIP  CHILD        F
4   YELLOW  LARGE  STRETCH  ADULT        T
5   YELLOW  LARGE  STRETCH  ADULT        T
6   YELLOW  LARGE  STRETCH  CHILD        F
7   YELLOW  LARGE      DIP  ADULT        F
8   YELLOW  LARGE      DIP  CHILD        F
9   PURPLE  SMALL  STRETCH  ADULT        T
10  PURPLE  SMALL  STRETCH  ADULT        T
11  PURPLE  SMALL  STRETCH  CHILD        F
12  PURPLE  SMALL      DIP  ADULT        F
13  PURPLE  SMALL      DIP  CHILD        F
14  PURPLE  LARGE  STRETCH  ADULT        T
15  PURPLE  LARGE  STRETCH  ADULT        T
16  PURPLE  LARGE  STRETCH  CHILD        F
17  PURPLE  LARGE      DIP  ADULT        F
18  PURPLE  LARGE      DIP  CHILD        F

In [11]:
df2.dtypes

color       object
size        object
act         object
age         object
inflated    object
dtype: object

In [12]:
#select the attributes with dtype object
object_list = df2.select_dtypes("object").columns
print(object_list)

Index(['color', 'size', 'act', 'age', 'inflated'], dtype='object')

In [13]:
#loop through the object list and encode each attribute
for obj in object_list:
    df2[obj] = label_encoder.fit_transform(df2[obj])
    
print(df2)

    color  size  act  age  inflated
0       1     1    1    0         1
1       1     1    1    1         0
2       1     1    0    0         0
3       1     1    0    1         0
4       1     0    1    0         1
5       1     0    1    0         1
6       1     0    1    1         0
7       1     0    0    0         0
8       1     0    0    1         0
9       0     1    1    0         1
10      0     1    1    0         1
11      0     1    1    1         0
12      0     1    0    0         0
13      0     1    0    1         0
14      0     0    1    0         1
15      0     0    1    0         1
16      0     0    1    1         0
17      0     0    0    0         0
18      0     0    0    1         0

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   color     19 non-null     int32
 1   size      19 non-null     int32
 2   act       19 non-null     int32
 3   age       19 non-null     int32
 4   inflated  19 non-null     int32
dtypes: int32(5)
memory usage: 444.0 bytes

In [15]:
df2.describe()

           color       size        act        age   inflated
count  19.000000  19.000000  19.000000  19.000000  19.000000
mean    0.473684   0.473684   0.578947   0.421053   0.368421
std     0.512989   0.512989   0.507257   0.507257   0.495595
min     0.000000   0.000000   0.000000   0.000000   0.000000
25%     0.000000   0.000000   0.000000   0.000000   0.000000
50%     0.000000   0.000000   1.000000   0.000000   0.000000
75%     1.000000   1.000000   1.000000   1.000000   1.000000
max     1.000000   1.000000   1.000000   1.000000   1.000000

In [16]:
'''Limitation

Priority Issue

Example

An attribute having output classes mexico, paris, dubai. On Label Encoding this column, let mexico is replaced with 0 ,paris is replaced with 1 and dubai is replaced with 2.
With this, it can be interpreted that dubai have high priority than mexico and paris while training the model, But actually there is no such priority relation between these cities here.
'''

'Limitation\n\nPriority Issue\n\nExample\n\nAn attribute having output classes mexico, paris, dubai. On Label Encoding this column, let mexico is replaced with 0 ,paris is replaced with 1 and dubai is replaced with 2.\nWith this, it can be interpreted that dubai have high priority than mexico and paris while training the model, But actually there is no such priority relation between these cities here.\n'